<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="cn.chenyuxian.spring.bean.UserDao"/>
    <bean id="userService" class="cn.chenyuxian.spring.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>